extends layout

block content
	div.row
		div.small-12.columns.text-center
			span= title
	form(method="GET",action="/search")
		div.row
			div.small-2.columns &nbsp;
			div.small-6.columns
				input(type="text",name='location',placeholder="Enter a Zip Code")
			div.small-2.columns
				input.button.postfix(type="submit",value="Search")
			div.small-2.columns  &nbsp;