extends layout

block content
	div.row.full-width
		div.medium-8.columns.no-padding
			div.map-wrapper
				div#map(ng-init='vm.getListings()')
					| This is the map
		div.medium-4.columns.no-padding
			div.listing-title
				h4 Listings in 
					span(ng-bind='vm.getParam()')
				nav.top-bar(data-topbar,role="navigation")
					section.top-bar-section
						ul.left
							li 
								a(ng-click="vm.order('-ROI')") Gains
							li 
								a(ng-click="vm.order('-listDate')") Fire
							li 
								a(ng-click="vm.order('price')") Cheap
			ul#listings
				li(ng-repeat="listing in vm.listings | orderBy:vm.predicate" )
					div.row(ng-click='vm.alertMessage(listing.id)')
						div.small-4.columns
							a.th(data-reveal-id="myModal")
								img(ng-src='{{listing.media[0].url}}')
						div.small-8.columns
							p(ng-bind='listing.id')
							p
								//- ROI = (rent - monthly taxes) * 12 / purchase price + capex
								//- capex = ((-.25 * year built) + 530) * sq ft)
								//- span(ng-bind='vm.calculateRent(listing,listing.city,listing.state, listing.address)')
								span(ng-bind='vm.calculateROI(listing,listing.taxAnnual,listing.price,listing.yearBuilt,listing.squareFootage,listing.estimatedRent)')
								span(ng-bind='listing.ROI')
								span(ng-bind='listing.price | currency')
							p
								| Bed:
								span(ng-bind='listing.bedrooms')
								| &nbsp;Bath:
								span(ng-bind='listing.baths')
								| &nbsp;Year Built:
								span(ng-bind='listing.yearBuilt')
								| &nbsp;Sq Ft:
								span(ng-bind='listing.squareFootage')
							p
								| List Date:
								span(ng-bind='vm.readableDate(listing.listDate)')
								| &nbsp;|&nbsp;
								span(ng-bind='vm.daysFromListing(listing.listDate)')
								| &nbsp;Days on Market

	div#myModal.reveal-modal(data-reveal,aria-labelledby="modalTitle",aria-hidden="true",role="dialog")
		h4#modalTitle(ng-bind='vm.propertyListing.address')
		div.row
			div.small-7.columns 
				ul(data-orbit)
					li(ng-repeat='pic in vm.propertyListing.media')
						img(ng-src='{{pic.url}}')
			div.small-5.columns
				p(ng-bind='vm.propertyListing.ROI')

			a.close-reveal-modal(aria-label="Close") &#215;
